.root {
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.first_parallax {
  background-image: url("./background/firstParallaxBackground.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.journey_parallax {
  background-image: url("./background/background1.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orange {
  color: orange;
}

.heading_text {
  font-weight: 900;
  color: white;
}

.subheading_text {
  font-weight: 900;
  color: orange;
}

.scroll_arrow_line {
  width: 2px;
  height: 100px;
  margin-left: 4px;
  background-color: white;
}

.scroll_arrow {
  border: solid orange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.three_arrows {
  border: solid orange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontally_centered {
  left: 50%;
  transform: translate(-50%, -20%);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.download_button {
  border: orange solid 1px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: transparent;
}

.download_button:hover {
  border-radius: 10px;
  border: orange solid 1px;
  color: black;
  background-color: orange;
  transition: all 0.8s;
}

.section--header {
  font-size: 5rem;
  padding-bottom: 30px;
}

.section--one {
  color: white;
  background-color: black;
}

.section--two {
  color: black;
  background-color: #3d87ff;
}

section {
  font-weight: 900;
  width: 100vw;
  transition: color 0.3s;
}

section.active {
  color: orange;
}

.nav_link {
  color: white;
  font-weight: 600;
  font-size: large;
}

.nav_link:hover {
  color: black;
  font-weight: 600;
  background-color: orange;
  transition: all 0.8s;
}

.card {
  color: black;
  padding: 10px;
  width: 30%;
  margin-bottom: 10px;
  min-width: 300px;
  background-color: orange;
  border-radius: 10px;
}

.journey_line {
  position: fixed;
  left: 50vw;
  height: 100vh;
  background-color: orange;
}

.half_section {
  background-color: #1f1f1f;
  color: white;
  font-weight: 900;
  transition: all 0.8s;
}

.half_section_hover {
  background-color: white;
  color: black;
  font-weight: 900;
  transition: all 0.8s;
}

.journey_box {
  background-color: #3c4042;
  border-radius: 10px;
  padding: 10px;
}

.project_box {
  border-radius: 10px;
  background-color: #272d33;
}
